

body {
  background: #FFFFFF;
  /* White */
  font-family: Arial, sans-serif;
}


.logo {
  position: absolute;
  width: 84px;;
  height: 78px;
  left: 8px;
  top: 4px;
  margin-left: 25px;
}
.welcome-text{
  font-size: 25px;
}
